/* General styling */

* {
  box-sizing: border-box;
}

html {
  background: #fff;
  font-family: sans-serif;
  font-size: 10px;
  height: 100%;
  margin: 0 auto;
  min-width: 420px; /* This is need for Chrome and Firefox popup. Shouldn't be more that 420px */
  max-width: 800px;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.outer-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 480px;
  width: 100%;
}

div[contenteditable] {
  border: 0;
  color: #4a4a4a;
  flex: auto;
  font-family: sans-serif;
  font-size: 14px;
  padding: 5px 0;
  resize: none;
}

div[contenteditable] b {
  filter: blur(4px);
}

div[contenteditable].reveal b {
  filter: none;
}

.hidden {
  display: none;
}


/* Login form */
form {
  display: flex;
  flex: auto;
  flex-flow: column;
  margin: 0 auto;
}

form div.spacer {
  flex: auto;
}

form div {
  display: flex;
  flex: none;
  flex-flow: row;
  padding-top: 10px;
}

form label {
  height: 25px;
  flex: auto;
  font-size: 20px;
}

form input {
  margin-left: 10px;
  width: 150px;
}

form button {
  display: block;
  margin: auto;
  width: 150px;
}

/* New notes entry box */
.pad {
  display: flex;
  flex: auto;
  flex-flow: column;
  padding: 5px;
}

header {
  display: flex;
  flex-flow: row;
  font-family: sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dde1e4;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

.status {
    line-height: 50px;
    height: 35px;
    font-size: 10px;
}

footer {
  color: #bbb;
  flex: none;
  font-size: 16px;
  padding: 20px;
}
